.Navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  display: flex;
}

.Navigation .logo-text {
  font-size: 24px;
  margin: 34px 45px;
}

.Navigation .HamburgerMenu {
  margin: 34px 55px 24px auto;
  padding-top: 7px;
}

.HamburgerMenu:hover {
  cursor: pointer;
}

@media (max-width: 576px) {
  .Navigation .logo-text {
    font-size: 18px;
    margin: 23px 18px 18px 18px;
  }

  .Navigation .HamburgerMenu {
    margin: 23px 18px 18px auto;
    padding-top: 4px;
  }
}
