.Navigation {
  width: 100%;
  color: #4d4d4d;
  text-align: center;
}

.Navigation .logo-text {
  font-size: 34px;
  margin: 30px 45px 20px 45px;
  display: block;
}

.Navigation .links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
}

.Navigation .links div {
  display: inline-block;
  margin: 0px 8px 0px 8px;
}

@media (max-width: 576px) {
  .Navigation .logo-text {
    font-size: 24px;
    margin: 23px 18px 18px 18px;
  }
}
