.Navigation {
  width: 100%;
  color: #4d4d4d;
  text-align: center;
}

.Navigation a,
.Navigation a:link,
.Navigation a:visited,
.Navigation a:hover,
.Navigation a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.Navigation .logo-text {
  font-size: 34px;
  margin: 30px 45px 3px 45px;
  display: block;
}

.Navigation .divider {
  width: 30%;
  margin: 0 auto;
  height: 20px;
}

.Navigation .links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
}

.Navigation .links div {
  display: inline-block;
  margin: 0px 8px 0px 8px;
}

.Navigation .is-active {
  font-weight: 600 !important;
}

@media (max-width: 576px) {
  .Navigation .logo-text {
    font-size: 24px;
    margin: 23px 18px 6px 18px;
  }

  .Navigation .divider {
    width: 100%;
  }
}
