html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.App .body {
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .App .body {
    width: 95%;
  }
}
