.Videos {
  margin: 35px auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Videos iframe {
  border: 0;
}

@media (max-width: 991px) {
  .Videos {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .Videos {
    width: 100%;
    display: block;
  }

  .Videos .video {
    margin-bottom: 15px;
  }
}
